* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;

}

.box-sm {


}

.box-md {


}

.box-lg{


}

.border{

}

#yellow {
  width: 1000px;
  height: 500px;
  background-color: yellow;
  margin: 0 auto;


}

#red {
  background-color:red;
  width: 500px;
  height: 250px;
  border: 10px solid black;
  margin: 0 auto;


}

#blue {
  background-color:blue;
  width:250px;
  height: 125px;
  margin: 0 auto;

}
