* {
  font-size: 16px;
}

body {
  margin-right: 15px;
  margin-left: 15px;

}

.box-sm {


}

.box-md {




}

.box-lg{



}

.border{

}

#yellow {
  width: 1000px;
  height: 500px;
  background-color: yellow;
  margin: 10% 150px;
  display: flex;

}

#red {
  background-color:red;
  width: 67%;
  height: 57%;
  border: 10px solid black;
  display: flex;
  margin:10% auto;

}

#blue {
  background-color: cyan;
  width: 75%;
  height: 67%;
  display: flex;
  margin: 7% auto;


}
